################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
/CitenikBank/appsettings.json
.vs/CitenikBank/FileContentIndex
/CitenikBank/bin
/CitenikBank/obj
/.vs
/CitenikBank/bin/Debug/net6.0/CitenikBank.dll
/CitenikBank/bin/Debug/net6.0/CitenikBank.pdb
/CitenikBank/bin/Debug/net6.0/CitenikBank.exe
/CitenikBank/bin/Debug/net6.0/CitenikBank.xml
/CitenikBank/v17
/CitenikBank/obj/Debug/net6.0/ref/CitenikBank.dll
/CitenikBank/obj/Debug/net6.0/refint/CitenikBank.dll
/CitenikBank/obj/Debug/net6.0/apphost.exe
/CitenikBank/obj/Debug/net6.0/CitenikBank.csproj.AssemblyReference.cache
/CitenikBank/obj/Debug/net6.0/CitenikBank.csproj.CoreCompileInputs.cache
/ProjectEvaluation
*.pdb
*.dll
*.2
*.v2
*.2
*.v2
Application/obj/Debug/net6.0/Application.pdb
Application/obj/Debug/net6.0/Application.dll
Application/bin/Debug/net6.0/Application.pdb
Application/bin/Debug/net6.0/Application.dll
.vs/ProjectEvaluation/citenikbank.projects.v5.2
.vs/ProjectEvaluation/citenikbank.metadata.v5.2
.vs/CitenikBank/v17/.futdcache.v2
*.v2
*.2
*.2
*.dll
*.pdb
*.2
